/* =============================================================================
   Content Block Styles
   ========================================================================== */
   
/* =============================================================================
   Font Imports
   ========================================================================== */

@font-face{
        font-family:"Museo";
        src:url("../fonts/museo/Museo_Slab_900.otf");
        font-weight: 900;
}

@font-face {
	font-family: "Museo";
	src:url('../fonts/museo/Museo_Slab_700.otf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: "Museo";
    src: url('../fonts/museo/museo_slab_500italic-webfont.eot?') format('eot'),
         url('../fonts/museo/museo_slab_500italic-webfont.woff') format('woff'),
         url('../fonts/museo/museo_slab_500italic-webfont.ttf') format('truetype'),
         url('../fonts/museo/museo_slab_500italic-webfont.svg') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/museo/museo_slab_300.otf') format('otf');
    font-weight: 300;
}

@font-face {
        font-family: "Museo";
        src: url("../fonts/museo/Museo_Slab_100.otf");
        font-weight: 100;
}

@font-face{
    font-family:"Avenir";
    src:url("../fonts/avenir/AvenirLTStd-Light.otf");
    font-weight: 200;
}

@font-face{
    font-family:"Avenir LT W01 65 Medium";
    src:url("../fonts/avenir/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?#iefix");
    src:url("../fonts/avenir/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?#iefix") format("eot"),
        url("../fonts/avenir/2cac77ec-9bc0-4ee7-87e4-27650190744f.woff") format("woff"),
        url("../fonts/avenir/aaf11848-aac2-4d09-9a9c-aac5ff7b8ff4.ttf") format("truetype");
 }
 
@font-face{
    font-family:"Avenir";
    src:url("../fonts/avenir/AvenirLTStd-Roman.otf");
    font-weight: 400;
}

@font-face{
    font-family:"Avenir";
    src:url("../fonts/avenir/avenir-85-heavy-latin-1.ttf");
    font-weight: 600;
}

@font-face{
    font-family:"Avenir";
    src:url("../fonts/avenir/avenir-95-black-latin-1.ttf");
    font-weight: 700;
}

   
/* Primary Typeface
* Our Primary Brand Typeface is Avenir
* We are a hosted web solution for Avenir due to font liscensing restrictions: http://www.fonts.com/font/linotype/avenir?SortColumn=name_ascending&#038;QueryFontType=Web&#038;SortDirection=Ascending&#038;page=1#product_top
*/

/* Note: Fallback font will revert to closest relative weight if loaded */

.primary-font_med { 
	font-family:'Avenir LT W01 65 Medium','Helvetica Neue',Helvetica,Arial,sans-serif;  
	font-weight: 400; 
}

.primary-font_heavy { 
	font-family:'Avenir LT W01 85 Heavy', 'Avenir' ,'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;  
}

.primary-font_black { 
	font-family: 'Avenir LT W01 95 Black','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400; 
}

.primary-font_thin,
.secondary-font {
    font-family: Museo, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style:italic;
}


/* Secondary Typeface
*  Our Secondary Brand Typeface is Museo
*  Museo is a font by Jos Buivenga (exljbris) -> www.exljbris.com 
*/


/* Museo */
.museo900{
	font-family: "Museo";
	font-weight: 900;
}

.museo700 {
	font-family: "Museo";
	font-weight: 700;
}

.museo500 {
	font-family: "Museo";
	font-weight: 500;
}

.museo300 {
	font-family: "Museo";
	font-weight: 300;
}

.museo100 {
	font-family: "Museo";
	font-weight: 100;
}

/* Avenir */
.AvenirLTStd-Light {
	font-family:"Avenir";
     font-weight: 200;
}

.AvenirLTStd-Roman {
	font-family:"Avenir";
     font-weight: 400;
}

.Avenir85 {
	font-family:"Avenir";
     font-weight: 600;
}

.AvenirBlack {
	font-family:"Avenir";
     font-weight: 700;
}

/* /End Custom Fonts */


/* Font Colors */
.red { color: #d52b1e; }

/* Font Sizes */
.small { font-size: .75em; } /* 12px / 16px */

/* Other Font Styles */
.cap { text-transform: uppercase; }
