/* This makes the breadcrumb behave */
nav ol {
    list-style:none;
    list-style-image:none;
    font-size: 1em;
    line-height: 1.4;
    font: 14px/24px Helvetica, Helvetica Neue, Arial;
    padding-top: 0px;
}




/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

/* Colors

Roomlinx brand standards
    Blue    #A62F2B
    Lt Grey    #F3F3F3
    Dk Grey    #c9c9c9

Grand Hyatt brand standards

RED
RGB 166/47/43
HEX #A62F2B


WARM GRAY
RGB 125/119/115
HEX #7D7773

*/

html,button,input,select,textarea {
    color: #444;
}


/* Sub navigation */
.subnav {
    margin-top: 20px;
}
.subnav ol {
    padding: 0;
}
.subnav li {
    background: url(../images/bg_subnav_tracker.png) center top no-repeat;
    color: #888;
    font-size: 12px;
    float: left;
    margin: 0;
    padding: 1px 0 0;
    text-transform: uppercase;
}
.subnav li.active {
    background-image: url(../images/bg_subnav_tracker_active.png);
    color: #A62F2B;
}
.subnav li.activeOn {
    background-image: url(../images/bg_subnav_tracker_activeOn.png);
    color: #A62B2F;
    font-weight: bold;
}
.subnav li i {
    color: #fff;
    display: block;
    font-style: normal;
    text-align: center;
}
.subnav li span {
    padding: 30px 16px 0;
}


#top_bar {
    width: 100%;
    height:31px;
    background-color: #A62F2B;
}

/* BEGIN Packages Page styles*/
.panel-body > UL {
    padding:8px 2px 0 8px;
    list-style-type: none;
    text-align:left;
    font-size:1.3em;
    line-height:1.2em;
}
.panel-body > UL > LI{
    padding-bottom:8px;
}

.panel-body >  H2, H3, H4 {
    margin-left:12px;
    text-align:center;
    padding-bottom:0;
}

.heading {
    margin-left:12px;
    text-align:center;
}

.panel-body {
    padding 0 12px 0 12px !important;
    text-align:center;
}

h2.heading {
    font-size:2.0em;
    padding-top:.7em;
}

.banner_wrapper {
    background-color:#900;

}
h3.banner {
    color:#FFF;
    padding:0.7em;
    margin-bottom: 0;
}

.banner {
    color:white;
}

.margin-top {
    margin-top:1em;
}
/* END Packages Page styles*/

.button-wide {
    padding: 80px !important;
}

.border_bottom { border-bottom:solid 1px #999}

.panel-body.ul { margin-left:100px}


/* help page accordian headings */
#faqset_accordion h3{
    text-align:left;
}

#faqset_accordion  h4 {
    text-align:left;
    margin-left:0;
    padding-left:0;
}


/* helpers */

.clear-both {
    clear:both;
}


/* BEGIN Nav tabs  at top*/
header nav ul {
    margin-left: 0;
    padding-left: 0;
}
header nav li {
    display: block;
    float: left;
    height: 25px;
    padding: 0;
    margin: 0;
    width: 150px;
}
header nav li a {
    background: #FFF;
    color: #A62F2B;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    -webkit-border-radius:	4px;
    -moz-border-radius: 	4px;
    border-radius: 			4px;

    -moz-box-shadow:    0px 0px 2px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,.1);
    box-shadow:         0px 0px 2px 2px rgba(0,0,0,.1);
}
header nav li.active a {
    background: #A62F2B;
    color: #FFF;
    margin-bottom: 0;
    -moz-box-shadow:	none;
    -webkit-box-shadow:	none;
    box-shadow: 		none;

    -webkit-border-bottom-right-radius:	0;
    -webkit-border-bottom-left-radius: 	0;
    -moz-border-radius-bottomright: 	0;
    -moz-border-radius-bottomleft: 		0;
    border-bottom-right-radius: 		0;
    border-bottom-left-radius: 			0;
    border:0;
}
header nav li.active span {
    background: none;
}
/* this tab style will be deprecated in responsive */
header nav li span {
    background: #f2f6fb;
    background: -moz-linear-gradient(top,  #f2f6fb 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6fb), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #f2f6fb 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #f2f6fb 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #f2f6fb 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #f2f6fb 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6fb', endColorstr='#ffffff',GradientType=0 );

    margin-right: 4px;
    padding: 0 25px;
}
header nav li a:hover span {
    background: #FFF;
}
header nav li.active a:hover span {
    background: none;
}
/* Vertical Centering */
header nav li{
    height: 95px;
    margin-bottom: 8px;
    width: 150px;
}
header nav li a {
    display: table;
    height: 100%;
    margin-right: 6px;
    overflow: hidden;
    width: 142px;
}
header nav li.last a {
    margin-right: 0;
}
header nav li.active {
    height: 105px;
    margin-bottom: -2px;
}
header nav li a span {
    display: table-cell;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
/* END Nav tabs  at top*/

/* new tabs for responsive */
.nav-tabs {
    margin-left:3em;
}

.nav-tabs li a {
    background: #999;
    color:#fff;
    font-size:1em;
    padding: 0.5em;
}
.nav-tabs li a:hover {
    background: #999;
    color:#fff;
}

.nav-tabs li.active a {
    background: #A62F2B;
    color:#fff;
}

.nav-tabs li.active a:hover {
    background: #A62F2B;
    color:#fff;
}
/* end css for new tabs */

.logo-margin {
    margin: 20px 20px 4px 20px;
    max-width: 80%;
}

.underline {
    text-decoration: underline;
}

.icon-required {
    background-image:url('../images/asterisk.png');
    background-position: center right;
    background-repeat:no-repeat;
    padding-left:15px;
}

.side-margins {
    padding: 0 1.5em;
}
.custom-panel-heading {

}
.custom-panel-body {

}

span.input-group-addon {
    background-color:#888;
    border-color: #888;
    color:#fff
}
.form-control {
    border-color: #888;center
}
div.panel.panel-default {
    border-color: #bbb;
}
.form-padding-small{
    padding-right: 1.5em;
}
/* begin Responsive Buttons */

@media (max-width: 768px) {
    .btn-responsive {
        padding:2px 4px;
        font-size:130%;
        line-height: 1;
        border-radius:3px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
        padding:4px 9px;
        font-size:130%;
        line-height: 1.2;
    }
}
/* end Responsive Buttons */

.top-margin {
    margin-top:35px;
}

/*prevent the page from getting too wide*/
.container {
    max-width: 1100px;
}

/* upgrade message on Packages page */
.upgrade_banner {
    color:#a62f2b;
    border: solid 2px #a62f2b;
    padding:15px;
    font-weight: normal;
    font-size: 1.5em;
    margin-top:0.9em;
    margin-bottom: 1.5em;
    text-align: center;
}


.upgrade_banner_reverse {
    color:#fff;
    border: solid 2px ;
    padding:15px;
    font-weight: bold;
    font-size: 1.5em;
    margin-top:0.9em;
    margin-bottom: 1.5em;
    text-align: center;
    background-color: #a62f2b;
}

.text-center {
    text-align: center;
}



.margin_right_bit {
    margin-right: 1em;
    display: block;
}

.note {
    font-size: 0.75em;
    color:#666;
    font-style: italic;
    font-weight: 400;
}

/*Cause button with lots of text to wrap onto 2 lines. We use this for the 'connect with {package name}' btn */
.btn-side-margins {
    white-space:normal !important;
    margin-left: 15px;
    margin-right: 15px;
}

.btn_click_and_wait {
    margin-right: 5px;
}

.match_body_to_header {
    background-color: #f5f5f5;
}

.panel-heading-no-border {
    border-bottom: none;
}

.color_box {
    color: #fff;
    background-color:#a62f2b;
    padding: 8px;
    margin: 0.5em 14px 1em 14px;
    line-height: 1.5em;

}