.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#AcceptRejectModule_call_to_action .inner1 {
  background: url('/files/nfiles/aol-savings/cta-bg-v2.png') no-repeat center center;
  width: 529px;
  height: 457px;
}
#AcceptRejectModule_call_to_action .logo {
  display: none!important;
}
#AcceptRejectModule_call_to_action .btns {
  margin-top: 215px;
}
#AcceptRejectModule_call_to_action .accept img {
  width: 250px;
}
#AcceptRejectModule_call_to_action .accept-container {
  width: 267px;
  margin-left: 0;
  margin-right: 0;
}
#AcceptRejectModule_call_to_action .no-thanks {
  color: #666;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
#AcceptRejectModule_call_to_action .reject-container {
  display: none!important;
}
